body {
    font-family: 'Consolas', 'Arial', sans-sarif;
    background-color: #339966;
    margin-bottom: 50px;
}

#create-message {
    display: none;
}

#show-create-message {
    float: right;
}

.message span {
    font-size: 20pt;
    float: right;
}
.message .glyphicon-trash {
    font-size: 22px;
}

#title-stuff {
    text-align: center;
    padding-top: 5px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    margin-bottom: 8px;
    margin-top: 70px;
}

#title-stuff>h1 {
    font-family: 'Consolas-bold';
}

.wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    margin-bottom: 8px;
}

.message {
    padding: 5px;
    padding-left: 40px;
    background-color: #acb6cc;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.49);
    margin: 7px;
}

.message-title {
    font-weight: bold;
}

.message-text {
    /*font-size: 12pt;*/
}

.btn-group {
    float: right;
}

#user-create-form {
    display: none;
}