{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>Message Board</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/message_board.css' %}" rel="stylesheet">
</head>
<body>
    
    {% include 'nav_bar.html' %}

    <div id='title-stuff' class='container'>
        <div class='row'>
            <h2>Azure Tower</h2>
            <h5>The Message Board</h5>
            <br>
        </div>
    </div>

    {% block content %}
        
    {% endblock content %}



    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/message_board.js' %}"></script>
    <script type='text/javascript' src="{% static 'jquery-grab-bag/javascripts/jquery.autogrow-textarea.js' %}"></script>
</body>
</html>