{% extends 'base.html' %}

{% block content %}

    <div class="container wrapper">
        <div class="row">
            <div id="create-message" class='col-xs-12'>
                <form class='col-md-offset-1 col-md-10' enctype='multipart/form-data' id='message-form' action='' method='POST'>
                {% csrf_token %}

                    <input type='hidden' name='author' value='{{ user.id }}'>
                    <input type='hidden' name='id' value=''>

                    <div class="form-group">
                        <label for="title-box1"><span class='glyphicon glyphicon-pencil'></span> Title</label>
                        <input type="text" class="form-control title-box" id="title-box1" name='title' placeholder="Enter a Witty Title">
                        <p class="help-block">Type Something descriptive</p>
                    </div>

                    <div class="form-group">
                        <label for="content-box1"><span class='glyphicon glyphicon-book'></span> Content</label>
                        <textarea class="form-control" id="content-box1" name='text' placeholder="What's on your Mind?"></textarea>
                        <p class="help-block">Pour out your heart, tell us everything</p>
                    </div>
                    <div class="btn-group">
                        <button type="submit" id='submit-button' class="btn btn-default"><span class='glyphicon glyphicon-plus'></span> Post</button>
                        <button id='cancel-create-message' class='btn btn-danger'>Cancel</button>
                    </div>
                    <div>{{ result }}</div>

                </form>
            </div>
            <form id='new-message-form'class='form-group col-xs-12'>
                <button type="submit" id='show-create-message' class="btn btn-default"><span class='glyphicon glyphicon-plus'></span> Post New Message</button>
            </form>
        </div>
    </div>
    
    <div class="container wrapper">
        <div class="row">
            <div id='all-messages' class='col-xs-12'></div>
        </div>
    </div>
    
{% endblock content %}
