{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div data-message-id='{{ message.id }}' class="message">
        <h4 class="message-title">
            {{ message.title }}
            {% if user.is_superuser %}
                <a class='delete-message-link text-danger'><span class='glyphicon glyphicon-trash'></span></a>
            {% endif %}
        </h4>
        <p class="message-text">
            {{ message.text }}
        </p>
        <p class="message-date">Posted by <a href="#">{{ message.author.username }}</a> on {{ message.date_posted }}
            <a class='favorite-message-link'><span class='glyphicon glyphicon-star-empty'></span></a>
        </p>
    </div>
    
{% endblock content %}
